div.background {
    background-image: url('../assets/header.jpg');
    opacity: 0.25;
    height:40px;
    border-bottom: outset;
    /* border: 2px solid black; */
}

/* div h4 {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 1;
} */

div.background h4 {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}