<app-image-scan class="mx-3"></app-image-scan>
<div>
  <button class="btn btn-primary m-3" (click)="getResponse()">Get Report</button>
  <div>
    <table class="table">
      <tr>
        <th>Patient Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Date</th>
        <th>Impression</th>
      </tr>
      <tr *ngFor = "let results of result">
        <td>{{results.Patient_Name }}</td>
        <td>{{results.Age }}</td>
        <td>{{results.Sex }}</td>
        <td>{{results.Date }}</td>
        <td>{{results.Impression }}</td>
      </tr>
    </table>
  </div>
</div>