<body style="height:calc(100% - 50px);width:100%;position:absolute;top:40px;bottom:0%;left:5px;right:5px;overflow-x: hidden;">
    <!-- page left block -->
    <div style="height:100%;width:50%;position:absolute;top:0%;bottom:0%;left:0%;right:50%;" class="">

        <!-- left top block  top 10px-->
        <div style="width:100%;height:50px;position:absolute;top:5px;bottom:0px;left:0%;right:42%;" class="d-flex">
            <!-- file upload -->
            <div style="white-space: nowrap;width:70%;height:50px;position:absolute;top:0px;bottom:0px;left:4px;right:25%;" >
                <form [formGroup]="form" (submit)="onSubmit()" class="form">
                    <input style="display:none;"
                            type="file" 
                            name="file"
                            (change)="onFileChange($event)"
                            id="file"
                            formControlName="files"
                            accept=".png, .jpg, .jpeg" multiple
                            #file >
                        <!-- *ngIf="largeImage && !uploadByteLimit" -->
                            <label id="choose_file_label"   
                            for="file" 
                            class="btn btn-primary" 
                            >
                            <svg x="0px" y="0px" width=20 height=20
                            fill="currentColor"
                            viewBox="0 0 459.904 459.904" 
                            style="vertical-align: sub;" 
                            xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M123.465,168.28h46.543v138.07c0,14.008,11.358,25.352,25.352,25.352h69.2c13.993,0,25.352-11.343,25.352-25.352V168.28
                                            h46.527c7.708,0,14.637-4.641,17.601-11.764c2.933-7.094,1.301-15.295-4.145-20.741L243.413,29.28
                                            c-7.437-7.422-19.485-7.422-26.938,0L110.011,135.775c-5.447,5.446-7.079,13.633-4.13,20.741
                                            C108.843,163.625,115.757,168.28,123.465,168.28z"/>
                                    </g>
                                    <g>
                                        <path d="M437.036,220.029c-12.617,0-22.852,10.237-22.852,22.867v95.615c0,28.643-23.317,51.944-51.961,51.944H97.679
                                            c-28.644,0-51.945-23.301-51.945-51.944v-95.615c0-12.63-10.251-22.867-22.867-22.867C10.236,220.029,0,230.266,0,242.897v95.615
                                            c0,53.859,43.818,97.679,97.679,97.679h264.544c53.861,0,97.681-43.819,97.681-97.679v-95.615
                                            C459.904,230.266,449.667,220.029,437.036,220.029z"/>
                                    </g>
                                </g>
                                
                                </svg>
                                &nbsp;
                                Choose files
                            </label>
                    
                            <ng-template #popContent>
                                <span *ngFor="let fileName of fileNames">{{fileName}}<br></span>
                            </ng-template>
                            <!-- [hidden]="!largeImage" -->
                            <pre style="overflow: hidden;"
                                class="my-auto"             
                                
                                [ngbPopover]="popContent" triggers="mouseenter:mouseleave"
                            > {{fileMessage(base64textString.length)}}</pre>
                    <!-- <input
                        class="file"
                        type="file" 
                        name="file" 
                        id="file1" 
                        *ngIf = "duplicate_browse"
                        type="file" 
                        accept=".png, .jpg, .jpeg" width="50%"
                        disabled
                    > -->
                </form>
            </div>
            <!-- reset -->
            <div style="width:40px;height:50px;position:absolute;top:0px;bottom:0px;left:calc(100% - 110px);right:0%;">
                <button class="btn btn-danger btn_border" data-toggle="modal" data-target="#myModal2">Reset</button>
            </div>
        </div>
        
        <!-- Show image larger and Zoom function; ht: (100% - 50px for button - 10px for margin)-->
        <div style="width:100%;height:calc(100% - 50px);
            position:absolute;top:50px;bottom:0%;left:0%;right:0%;" 
            class="">
            <!-- img block -->
            
                <!-- [style.display]="zoom ? 'none' : 'inline-flex'" -->
            <div class="" id="image_scene" 
                style="background-color: rgb(206 212 218);
                position: absolute;left:5px;right:160px ;top:0%;bottom:1%;border-radius:3px;">
                 <!-- this is the draggable root -->
                <svg  class="box_shadow" style="position:absolute;width:100%;height:100%;left:0%;
                background-color:transparent;border-radius:3px;">
                

                    <image width="100%" height="100%" id="scene" transform="matrix(1 0 0 1 0 0)" 
                    [attr.xlink:href]="image_view" />
                    
                </svg>
                <!-- <svg class="zoomInIcon button_hover" width="150" height="150" 
                
                    transform="scale(0.25)" 
                    fill-rule='evenodd' clip-rule="evenodd" 
                    xmlns="http://www.w3.org/2000/svg" (click)="onClickHome()">

                    <g >
                        <g id="svg_1">
                            <path id="svg_2" d="m61.44,0c33.93,0 61.44,27.51 61.44,61.44c0,33.93 -27.51,61.44 -61.44,61.44c-33.93,0 -61.44,-27.51 -61.44,-61.44c0,-33.93 27.51,-61.44 61.44,-61.44l0,0zm0,29l-31.38,30.74l7.65,4.02l23.52,-24.69l23.92,24.7l7.66,-4.02l-31.37,-30.75l0,0l0,0zm-22.05,38.13l0,0l22.08,-22.09l22.02,22.09l0,0l0,0l0,21.67l-16.09,0l0,-15.3l-12.06,0l0,15.3l-15.95,0l0,-21.67l0,0l0,0l0,0zm22.05,-58.04c28.91,0 52.35,23.44 52.35,52.35c0,28.91 -23.44,52.35 -52.35,52.35s-52.35,-23.44 -52.35,-52.35c0,-28.91 23.44,-52.35 52.35,-52.35l0,0z" 
                            class="" fill="#023367"/>
                        </g>
                        <path stroke="#FF0000" transform="rotate(45.13833236694336 124.08902740478514,123.99531555175781) " 
                        id="svg_3" d="m94.856865,115.871761l58.464331,0l0,16.247101l-58.464331,0l0,-16.247101z" 
                        stroke-width="0.001" fill="#023367"/>
                    </g>
                </svg> -->
                <svg version="1.1" x="0px" y="0px" width=24 height=24
                class = "zoomInIcon button_hover"
	            viewBox="0 0 458.927 458.927" 
                style="enable-background:new 0 0 458.927 458.927;" 
                xml:space="preserve"
                
                (click)="onClickHome()"
                >
                <g>
                    <path style="fill:#023367;" d="M158.541,278.612l-54.229,54.228l-32.842-32.836c-1.8-1.807-4.513-2.346-6.866-1.374
                        c-2.353,0.972-3.884,3.272-3.884,5.825l-0.008,87.32c0,3.465,2.816,6.289,6.298,6.289l87.332,0.015
                        c2.547,0,4.848-1.538,5.819-3.884c0.979-2.36,0.441-5.064-1.36-6.873l-32.85-32.85l54.28-54.29
                        c0.008-0.014,0.016-0.028,0.016-0.028c0.023-0.016,0.037-0.016,0.044-0.031l38.222-38.617l-21.684-21.451L158.541,278.612z"/>
                    <path style="fill:#023367;" d="M261.424,218.14l38.289-38.691l54.288-54.29l32.844,32.837c1.799,1.808,4.511,2.345,6.864,1.375
                        c2.353-0.972,3.884-3.273,3.884-5.827l0.008-87.318c0-3.466-2.816-6.288-6.296-6.288l-87.334-0.016
                        c-2.547,0-4.848,1.539-5.819,3.884c-0.978,2.36-0.441,5.065,1.36,6.872l32.88,32.881l-92.532,93.16L261.424,218.14z"/>
                    <path style="fill:#023367;" d="M422.953,0H35.972C16.104,0,0.001,16.104,0.001,35.974v386.978c0,19.87,16.104,35.975,35.972,35.975
                        h386.98c19.868,0,35.974-16.104,35.974-35.975V35.974C458.926,16.104,442.821,0,422.953,0z M428.331,422.952
                        c0,2.959-2.412,5.379-5.378,5.379H35.972c-2.965,0-5.377-2.42-5.377-5.379V35.974c0-2.958,2.412-5.378,5.377-5.378h386.98
                        c2.966,0,5.378,2.42,5.378,5.378V422.952z"/>
                    <path style="fill:#023367;" d="M394.345,297.974c-2.353-0.972-5.058-0.434-6.864,1.375l-22.057,22.064l-10.817,10.817
                        L179.552,158.384c-0.007,0-0.015,0-0.023-0.016l-18.562-18.555l-35.658-35.658l32.857-32.852c1.8-1.793,2.339-4.496,1.368-6.856
                        c-0.979-2.345-3.273-3.884-5.819-3.884l-87.318-0.016c-3.48,0-6.296,2.824-6.296,6.289l-0.023,87.349
                        c0,2.555,1.539,4.84,3.892,5.827c2.353,0.97,5.058,0.433,6.866-1.375l32.842-32.851l35.66,35.659l18.635,18.629l0.023,0.016
                        c0.015,0.014,0.015,0.029,0.031,0.044l120.684,119.422l54.288,54.274l-10.815,10.815l-22.035,22.035
                        c-1.801,1.809-2.338,4.513-1.368,6.873c0.979,2.346,3.272,3.885,5.819,3.885h87.318c3.48,0,6.296-2.824,6.296-6.291l0.023-87.348
                        C398.236,301.245,396.697,298.96,394.345,297.974z"/>
                </g>

                </svg>
            </div>
                
            
                <!-- <div *ngIf = "zoom" class="zoom">
                    <img src={{image_view}} alt="" id={{i}} class="ZoomImage img-responsive" 
                        style="display: inline-block;position: relative;">
                    <span aria-hidden="true" class="zoomCloseIcon" 
                        id={{i}} (click) = "onZoomOut(i,$event)" style="cursor: pointer;">×</span>
                </div> -->
            
            
            
            <!-- list img ; -->
            <div
                 style="height:100% ;width:150px;position: absolute;top: 0%;left: calc(100% - 150px);
            right:0%;bottom: 0%;">
                <div class="card2 mozilla_scroll" id="image1">
                    <div *ngFor="let item of base64textString;let i = index" 
                    style="display: inline-block;position: relative;">
                        <img class="scanImage" id={{i}} src={{item}} alt="" (click)="onClick($event)">

                        <!-- <svg *ngIf="(i!=0) && !downArrow" id={{i}} xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle-fill up_arrow" viewBox="0 0 16 16" (click) = "onUpImage($event)">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg> -->
                        <svg *ngIf="(i!=0) && !downArrow" id={{i}} 
                            xmlns="http://www.w3.org/2000/svg" width="25" height="25" 
                            fill="currentColor" 
                            class="up_arrow arrow_hover" 
                            viewBox="0 0 16 16" (click)="onUpImage($event)">
                            <path id={{i}} fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                      
                        <svg *ngIf="(i!=base64textString.length-1) && !upArrow" 
                            id={{i}} xmlns="http://www.w3.org/2000/svg" 
                            width="25" height="25" fill="currentColor" 
                            class="down_arrow arrow_hover" 
                            viewBox="0 0 16 16" (click)="onDownImage($event)">
                            <path id={{i}} fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>

                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" class="closeIcon" id= {{i}} (click)="removeSelectedFile(i,$event)" *ngIf = "closeIcon">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Show list of images -->
        <!-- <div class="col-md-2 col-lg-2  col-xs-12 smallScanCard" style="margin-top: -16px;">
            
        </div> -->
    
        <!-- Right block  top 10px -->
        <div style="width:calc(50% - 10px);height:100%;position:absolute;left:50%;
                    top:0px;right:0%;bottom:1%;">
            <!-- Counters; aligned right to left-->
            <div style="overflow: visible;white-space: nowrap;width:200px;height:50px;position:absolute;
                        top:5px;left: calc(70% - 52px);
                        direction: rtl;" 
                class="d-flex">

                <!-- <div style="white-space: nowrap;width:auto;height:50px;position:absolute;
                right:20%;top:0px;"> -->
                    <div style="width: auto; position: relative;right:0px;">
                        <button type="button" style="color: #dc3545;"
                         class="btn btn_counter btn-outline-danger disabled">
                        
                        <!-- &nbsp;&nbsp; <i class="bi bi-hand-thumbs-up-fill" style="width:24px;"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="21" fill="currentColor"
                        style="position:relative;top:1px;right:0px"
                         class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                            <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                          </svg>

                        {{failedCount}}
                    </button>
                    
                    </div>
                    <div style="width: auto; position: relative;right:15px;">
                        <button  type="button" style="color: #28a745;"
                        class="btn btn_counter btn-outline-success disabled">
                        <!-- &nbsp;&nbsp; <i class="bi bi-hand-thumbs-up-fill" style="width:24px;"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" 
                         fill="currentColor" class="bi bi-hand-thumbs-up-fill" 
                        viewBox="0 0 16 16" style="position:relative;top:-5px;right:0px">
                            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                        </svg>
                        {{successCount}}
                    </button>
                    </div>
                
                <!-- <div style="white-space: nowrap;width:50%;height:50px;
                        position:absolute;left:5%;">
                    <pre >Operations Succeeded  <button class="btn btn-primary1" disabled>{{successCount}}</button></pre>
                </div> -->
                <!-- <div style="white-space: nowrap;width:50%;height:50px;position:absolute;
                        left:50%;top:0px;">
                    <pre >Operations Failed  <button class="btn btn-primary1" disabled>{{failedCount}}</button></pre>
                </div> -->
            </div>
            <!-- Report type dropdown and displaying result -->
            <div style="white-space: nowrap;width:100%;height:50px;
            position:absolute;left:10px;top:50px;right:0%;" 
                class="d-flex">
                <form [formGroup]="form" (submit)="onSubmit()" class="">
                    <button   class="btn btn-outline-primary btn_border disabled"
                        style="vertical-align: inherit;white-space:nowrap;color:black;opacity:1;
                        font-weight: 500;
                        position: absolute;width:140px;left:0%;right:auto">Select Report
                    </button>
                    <select formControlName="select" 
                    style="vertical-align: inherit;position: absolute;width:40%;left:135px;right:0%;"
                     class="form-select" id="dropdown" 
                            (change)="selectId($event)"> 
                            <!-- Select_document_disabled  replace with false-->
                        <option [disabled]='Select_document_disabled' 
                        [hidden]="Select_document_disabled"
                        [selected]="!Select_document_disabled" value="Select Document" 
                        id="default_report_type">Select Document
                        </option>                        
                        <option [disabled]="storingData" *ngFor="let listOfDocument of listOfDocuments" 
                        value={{listOfDocument}} >{{listOfDocument}}</option>
                    </select>
                    <button style="position: absolute;vertical-align: inherit;width:30%;
                    left:calc(40% + 140px);right:0%;" 
                    *ngIf="!uploadButton" class="btn btn-primary btn_border" 
                        [disabled]='disabledupload || uploadByteLimit || storingData' 
                        type="submit" >Upload
                    </button>
                    <button style="white-space: nowrap;position: absolute;vertical-align: inherit;
                        width:30%;left:calc(40% + 140px);right:0%;" 
                        *ngIf="responseButton" class="btn btn-primary btn_border" 
                        type="button" nbButton status="primary">    
                        <span style="font-size: 8;">{{seconds}}s Estimated time</span>
                    </button>
                    <!-- <div class="form-inline" style="margin-left: 144px;">
                        <input type="text" class="form-control" placeholder="Enter Report ID" 
                        *ngIf="newDocumentInput" (change)="onChangeReport($event)">
                    </div> -->
                </form>
            </div>
            <div style="overflow-y: scroll;width:100%;height:56px;
            position:absolute;left:28px;top:93px;right:10%;">
                <div *ngIf="successAlert" 
                    class="alert alert-success alert-dismissible fade show" role="alert" 
                    style="margin-top: 0px;">
                        Data stored Successfully!!!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="uploadByteLimit" class="alert alert-danger alert-dismissible fade show" 
                        role="alert" style="margin-top: 0px;">
                        <strong>Warning:</strong> Maximum number of files allowed per report is 8.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 0px;">
                        <strong>Error storing data:</strong> Please check your network or contact your Admin.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center">
                    <div *ngIf='isLoading' class="spinner-border text-success text-center inline-block" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Server isn't responding. Please check your network or contact your Admin.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="f.select.touched && f.select.invalid" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Report type is required.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- di = {"uploadFileAlert":[" Please select file to upload",False],
                        "" }
                        di["uploadFileAlert"][1]
                di[key][1]===True
                di_status=True -->
                <div *ngIf="uploadFileAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please select file(s) to upload.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- TODO: fix alignment along with loading/spinner icon. -->
                <!-- <div *ngIf="(seconds<=0) && waitForResponse" class="alert alert-danger alert-dismissible fade show" role="alert">
                    It's taking longer than expected.Please wait...
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div *ngIf="DropdownId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please select a valid report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="verifyDocumentId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please verify the report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="invalidDocumentId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Invalid report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="unKnownError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    An unexpected error occurred. Contact your system administrator.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!-- Results division -->
            <div style="width:95%;height:100%;position:absolute;left:10px;top:150px;right:1%;"
            class="scrollit" id="result">
                <div class="table-wrapper mozilla_scroll " *ngIf="tableShow" 
                style="box-shadow: inset 0px 0px 5px 1px #acb2b9;border-radius: 6px;">
                    <table class="table tableScroll" style="overflow-y: auto;">
                        <tbody >
                        
                            <tr>
                                <th class="w-25"></th>
                                <td class="w-65"></td>
                                <th class="w-10" style="text-align: center;">C (%)</th>
                            </tr>
                        
                            <tr *ngFor="let item of result_others | keyvalue">

                                <th style="vertical-align: middle;">{{item.key.split('_').join(' ') | titlecase}}</th>
                                <td style="vertical-align: middle;" [ngClass]="{
                                        'above85':item.value[1] >=85,
                                        'above70':item.value[1] >=70 &&  item.value[1]<85,
                                        'above50':item.value[1] >=50 && item.value[1] <70,
                                        'above30':item.value[1] >=30 && item.value[1] <50,
                                        'below30':item.value[1] >0 && item.value[1] <30,
                                        'zero':item.value[1] === 0
                                    }"><input type="text" value={{item.value[0]}} id={{item.key}} class="form-control" (change)="onchangeInput_others($event)">
                                </td>

                                <td class=" text-center" style="vertical-align: middle;">
                                    {{item.value[1]}}
                                </td>

                            </tr>

                            <tr *ngIf="result_date_show">
                                <th style="vertical-align: middle;">Report Date</th>
                                <td [ngClass]="{
                                    'above85':result_date[1] >=85,
                                    'above70':result_date[1] >=70 &&  result_date[1]<85,
                                    'above50':result_date[1] >=50 && result_date[1] <70,
                                    'above30':result_date[1] >=30 && result_date[1] <50,
                                    'below30':result_date[1] >0 && result_date[1] <30,
                                    'zero':result_date[1] === 0
                                   }" style="vertical-align: middle;">
                                    <input value={{result_date[0]}} id='Date' class="form-control" type='date' placeholder="" (change)="onchangeInput_date($event)">
                                </td>

                                <td class=" text-center" style="vertical-align: middle;">
                                    {{result_date[1]}}
                                </td>

                            </tr>
                            <tr *ngIf="result_imp_show">
                                <th>Impression</th>
                                <td [ngClass]="{
                                    'above85':result_imp[1] >=85,
                                    'above70':result_imp[1] >=70 &&  result_imp[1]<85,
                                    'above50':result_imp[1] >=50 && result_imp[1] <70,
                                    'above30':result_imp[1] >=30 && result_imp[1] <50,
                                    'below30':result_imp[1] >0 && result_imp[1] <30,
                                    'zero':result_imp[1] === 0
                                   }">
                                    <textarea value={{result_imp[0]}} id='Impression' 
                                    class="form-control impression mozilla_scroll" 
                                    type="text" (change)="onchangeInput_imp($event)">
                                </textarea>
                                </td>

                                <td class=" text-center">
                                    {{result_imp[1]}}
                                </td>
                            </tr>
                    </table>
                    <br>
                    <table *ngIf="result_testreport_show" class="table table-borderless">
                        <!-- class="sticky_" -->
                        <thead >
                            <tr class="d-flex border_top ">
                                <th class="col-1" style="text-align: center;">S.No</th>
                                <th class="col-4" style="text-align: center;">Test</th>
                                <th class="col-3" style="text-align: center;">Result</th>
                                <th class="col-3" style="text-align: center;">Units</th>
                                <th class="col-1" style="text-align: center;">C(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngFor="let item of result_testreport | keyvalue">
                                <tr class="d-flex border_bottom border_top" style="padding: 0%;">
                                    <th class="col-1"></th>
                                    <th class="col-5">
                                        {{item.key.split('_').join(' ') | titlecase }}
                                    </th>
                                    <th class="col-2"></th>
                                    <th class="col-3"></th>
                                    <th class="col-1"></th>
                                </tr>
                                <tr *ngFor="let report of item.value;let i = index" 
                                class="d-flex border_bottom"
                                style="padding: 0%;">
                                    <td class="col-1" style="padding: 12px;">{{i+1}}</td>
                                    <td [ngClass]="{
                                                'above85':report[2] >=85,
                                                'above70':report[2] >=70 &&  report[2]<85,
                                                'above50':report[2] >=50 && report[2] <70,
                                                'above30':report[2] >=30 && report[2] <50,
                                                'below30':report[2] >0 && report[2] <30,
                                                'zero':report[2] === 0
                                            }" class="col-4">
                                        <input type="text" value={{report[1][0]}} row={{i}} key={{item.key}} 
                                        class="form-control" (change)="onchangeInput_0($event)" 
                                        (click)="focusOnChangeInput($event)">
                                    </td>
                                    <td [ngClass]="{
                                                'above85':report[2] >=85,
                                                'above70':report[2] >=70 &&  report[2]<85,
                                                'above50':report[2] >=50 && report[2] <70,
                                                'above30':report[2] >=30 && report[2] <50,
                                                'below30':report[2] >0 && report[2] <30,
                                                'zero':report[2] === 0
                                            }" class="col-3">
                                        <input type="text" value={{report[1][1]}} row={{i}} key={{item.key}} 
                                        class="form-control" (change)="onchangeInput_1($event)"
                                        (click)="focusOnChangeInput($event)">
                                    </td>
                                    <td [ngClass]="{
                                            'above85':report[2] >=85,
                                            'above70':report[2] >=70 &&  report[2]<85,
                                            'above50':report[2] >=50 && report[2] <70,
                                            'above30':report[2] >=30 && report[2] <50,
                                            'below30':report[2] >0 && report[2] <30,
                                            'zero':report[2] === 0
                                        }" class="col-3">
                                        <input type="text" row={{i}} key={{item.key}} value={{report[1][2]}} 
                                        class="form-control" (change)="onchangeInput_2($event)"
                                        (click)="focusOnChangeInput($event)">
                                    </td>
                                    <td class="col-1" style="padding: 12px;">{{report[2]}}</td>
                                </tr>
                                <tr class="d-flex border_bottom" style="padding: 0%;">
                                    <button class="btn btn-primary" style="background-color: #007bff;margin: 5px;
                                    border-color: white;" id={{item.key}} (click)="onCreateInput($event)"
                                    >Add</button>
                                </tr>
                                <!-- <mat-divider></mat-divider> -->
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="white-space: nowrap;width:100%;height:40px;
                position:absolute;left:50%;bottom:0px;right:0%;" 
                class="d-flex">
                <div style="width:15%;position: fixed;left:60%;" >
                    <button 
                    style="width:100%;"
                    class="btn btn-primary btn_border" type="submit" data-toggle="modal" 
                    data-target="#myModal" [disabled]="!markForReview || !tableShow">Mark for Review</button>
                </div>
                <div style="width:15%;position: fixed;left:75%;">
                    <button
                    style="width:100%;" class="btn btn-primary btn_border" type="submit" 
                    data-toggle="modal" data-target="#myModal1" 
                    
                    [disabled]="!getResult || !tableShow">Update Database</button>
                </div>
            </div>
            
        </div>
    
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn_border" #closebutton id="closeModal" (click)="onSubmitImage()">Yes</button>
                    <button type="button" #closebutton class="btn btn-danger btn_border" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton1 class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn_border" #closebutton1 id="closeModal" (click)="onSubmitText()">Yes</button>
                    <button type="button" #closebutton1 class="btn btn-danger btn_border" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton2 class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body reset_modal_body">
                    <p>Are you sure you want to proceed?</p>
                    <button type="button" style="margin-left: 128px;margin-right: 10px;" class="btn btn-primary btn_border" #closebutton2 id="closeModal" (click)="onEdit()">Partial Reset</button>
                    <button type="button" style="border: white;" class="btn btn-danger btn_border" #closebutton2 id="closeModal" (click)="onReset()">Reset</button>
                </div>
                <div class="modal-footer footer">
                    <p><b>Note:</b>&nbsp;&nbsp;&nbsp;</p><br>
                    <p><b style="color: #007bff;">Partial Reset : </b>This will delete everything <b>except images.</b></p>
                    <p><b style="color: #dc3545;">Reset : </b>This will delete everything.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>