/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
body{
    overflow: hidden;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 5px;
  }
  tr{
      border: none;
  }
th, td {
    padding: 5px;
    text-align: left;
  }
  td{
      border-left: 1px solid black;
  }
  .scrollit{
      overflow: auto;
  }
.smallScanCard{
    
    height: 600px;
    margin-left: -20px;
}
.image-container{
    margin-top: 10px;
    margin-left: 20px;
    
}
.btnAlign{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
    
}
.scanImage {
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    height: 210px;
    
  }
/* .scanImage.closeIcon{
    background-image: url("../../assets/image/close.jpg");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
  } */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* img{
    border: 1px solid #ddd;
    padding-top: 30px;
} */
.card1{
    width: 58%;
    height: 83%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    overflow-y: scroll;
}
/* .card.close{
    width: 30px;
    height: 30px;
    padding-left: 200px;
} */