#overflow{
    overflow: hidden;
}
.smallScanCard{
    
    height: 600px;
    margin-left: -20px;
}
.image-container{
    margin-top: 10px;
    margin-left: 20px;
    
}
.btnAlign{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}
#scanImage {
    border-radius: 4px;
    padding: 3px;
    margin:3px;
    width: 160px;
    height: 210px;
    margin-top: 8px;
}
img:hover {
    box-shadow: 0 0 5px 2px rgba(4, 186, 247, 0.5);
}
.card1{
    width: 93%;
    height: 83%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    overflow-y: auto;
}
