<div id="overflow">
<div class="row">
    <div class="col-md-5">
        <div *ngIf = "successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
             The data was stored successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf = "errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Failed!</strong> Try Again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="form" (submit)="onSubmit()">
            <input 
                class="file"
                type="file" 
                name="file" 
                id="file" 
                (change)="onFileChange($event)" 
                formControlName="files" 
                accept=".png, .jpg, .jpeg, .pdf">
        </form>
        <!-- <label style="margin-left: 10px;">Select Scanner:</label>
        <select id="sources" class="form-control w-auto" style="margin-left: 10px;"></select> <br> -->
        <div class="image" *ngFor="let item of base64textString; let i = index">
            <img class="large_image" src={{item}} alt="">
        </div>
    </div>
    <div class="col-md-2 smallScanCard" style="margin-top: 30px;">
        <button class="btn btn-primary btnAlign">Scan</button>
        <button class="btn btn-primary btnAlign" (click) = "onReset()">Reset</button>
        <!-- <div id="card1" class="card1 image-container">
            <i class="bi bi-trash"></i>
        </div> -->
        <div class="image-container card1">
            <img class="scanImage" *ngFor="let item of base64textString" src={{item}} alt="">
        </div>
    </div>

    <div class="mt-3 col-md-5 ml-3">
        <div>
            <form [formGroup]="form" (submit)="onSubmit()">
                <label for="">Select Report Type</label>
                <select formControlName="select" class="form-control w-auto" (change)="selectId($event)">
                    <option>Select Document</option>
                    <option *ngFor="let listOfDocument of listOfDocuments">{{listOfDocument}}</option>
                </select>
                
            <button 
            class="btn btn-primary upload" 
            [disabled]='form.invalid && form.invalid' 
            type="submit" 
            style="margin-top: 10px;">Upload</button>
            <div *ngIf='error' class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="text-center m-4">
                <div *ngIf='isLoading' class="spinner-border text-success text-center" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>   
            <div *ngIf = "f.select.touched && f.select.invalid" class="alert alert-danger">
                <div *ngIf = "f.select.errors.required">
                    Document ID Required
                </div>
            </div>
        </form>
        </div>

        <div class="scrollit">
            <table class="table table-hover w-auto">
                <tbody>
                <tr>
                    <th>Report Type</th>
                    <td>{{result.Patient_Name}}</td>
                </tr>
                <tr>
                    <th>Report Date</th>
                    <td>{{result.Age }}</td>
                </tr>
                <tr>
                    <th>Impression</th>
                    <td>{{result.Sex }}</td>
                </tr>
                <tr>
                    <th>Name of the scan centre</th>
                    <td>{{result.Date }}</td>
                </tr>
                <tr>
                    <th>Name of the consultant</th>
                    <td>{{result.Impression }}</td> 
                </tr>
            </tbody>
            </table>
        </div>
        <button 
        class="btn btn-primary" 
        type="submit" 
        (click)="onSubmitImage()" 
        style="margin-right: 10px;"
        [disabled] = "!getResult">Save As Image</button>
        <button 
        class="btn btn-primary" 
        type="submit" 
        (click)="onSubmitText()"
        [disabled] = "!getResult">Save As Text</button>
    </div>
</div>
</div>