body{
    overflow: hidden;
}
div.row{
    height: 646px;
}
.table td, .table th{
    padding: 5px;
}
.image{
    background-color: rgba(230, 230, 243, 0.986);
    width: 540px;
    height: 554px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 32px;
}
.form{
    display: flex;
}
.mt-3{
    margin-top: 1.2rem!important;
}
.smallScanCard{
    height: 600px;
    margin-left: -20px;
}
.form-control{
    display: inline-block;
}
.file{
    margin-left: 30px;
    margin-top: 6px;
}
.mt-2, .my-2 {
    margin-top: 0.9rem!important;
}
.upload{
    margin-left: 20px;
    margin-bottom: 15px;
}
.image-container{
    margin-top: 10px;
    margin-left: 20px;
}
.btnAlign{
    margin-top: 23px;
    margin-left: 32px;
    margin-bottom: 15px;
}
.scanImage {
    border-radius: 4px;
    padding: 3px;
    margin:3px;
    width: 160px;
    height: 210px;
    margin-top: 8px;
}
.zoom{
    background-color: black;
    width: 778px;
    height: 646px;
    margin-left: 10px;
}
.closeIcon{
    position: absolute;
    top: -6px;
    right: -2px;
    font-weight: bold;
    font-size: xx-large;
}
.zoomInIcon{
    position: absolute;
    top: 65px;
    right: 22px;
    font-weight: bold;
    font-size: xx-large;
}
.zoomCloseIcon{
    position: absolute;
    top: -23px;
    right: -224px;
    color: brown;
    font-weight: bold;
    font-size: xxx-large;
    z-index: 1;
}
.ZoomImage{
    width: 769px;
    height: 638px;
    margin-top: 4px;
    border-radius: 5px;
    margin-left: 4px;
    align-items: center;
    display: inline-block;
    z-index: 1;
}
.large_image {
    border-radius: 4px;
    padding: 3px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 1px;
}
.scanImage:hover {
    box-shadow: 0 0 5px 2px rgba(4, 186, 247, 0.5);
}
.card1{
    width: 93%;
    height: 92%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    overflow-y: auto;
}
.table-wrapper {
    width: 100%;
    max-height: 420px;
    overflow-y: auto;
    display:inline-block;
  }
  svg{
      cursor: pointer;
  }
textarea{
    resize: none;
}
textarea{
    height: 135px;
}
.above85{
    background-color: lightgreen;
}
.above70{
    background-color:olive;
}
.above50{
    background-color: orange;
}
.above30{
    background-color: maroon;
}
.below30{
    background-color: red;
}
@media only screen and   (min-width: 1200px) and (max-width: 1400px) {
    .zoomCloseIcon{
        position: absolute;
        top: -23px;
        right: -224px;
        color: brown;
        font-weight: bold;
        font-size: xxx-large;
        z-index: 1;
    }
  }

