<body style="height:calc(100% - 50px);width:100%;position:absolute;top:40px;bottom:0%;left:5px;right:5px;overflow-x: hidden;">
    <!-- page left block -->
    <div style="height:100%;width:50%;position:absolute;top:0%;bottom:0%;left:0%;right:50%;" class="">

        <!-- left top block  top 10px-->
        <div style="width:100%;height:50px;position:absolute;top:0px;bottom:0px;left:0%;right:42%;" class="d-flex">
            <!-- file upload -->
            <div style="white-space: nowrap;width:70%;height:50px;position:absolute;top:0px;bottom:0px;left:4px;right:25%;" >
                <form [formGroup]="form" (submit)="onSubmit()" class="form">
                    <input style="display:none;"
                            type="file" 
                            name="file"
                            (change)="onFileChange($event)"
                            id="file"
                            formControlName="files"
                            accept=".png, .jpg, .jpeg" multiple
                            #file >
                        <!-- *ngIf="largeImage && !uploadByteLimit" -->
                            <label id="choose_file_label"   
                            for="file" 
                            class="btn btn-primary" 
                            >Choose files</label>
                    
                            <ng-template #popContent>
                                <span *ngFor="let fileName of fileNames">{{fileName}}<br></span>
                            </ng-template>
                            <!-- [hidden]="!largeImage" -->
                            <pre style="overflow: hidden;"
                                class="my-auto"             
                                
                                [ngbPopover]="popContent" triggers="mouseenter:mouseleave"
                            > {{fileMessage(base64textString.length)}}</pre>
                    <!-- <input
                        class="file"
                        type="file" 
                        name="file" 
                        id="file1" 
                        *ngIf = "duplicate_browse"
                        type="file" 
                        accept=".png, .jpg, .jpeg" width="50%"
                        disabled
                    > -->
                </form>
            </div>
            <!-- reset -->
            <div style="width:40px;height:50px;position:absolute;top:0px;bottom:0px;left:calc(100% - 110px);right:0%;">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Reset</button>
            </div>
        </div>
        
        <!-- Show image larger and Zoom function; ht: (100% - 50px for button - 10px for margin)-->
        <div style="width:100%;height:calc(100% - 50px);
            position:absolute;top:50px;bottom:0%;left:0%;right:0%;" 
            class="">
            <!-- img block -->
            
                <!-- [style.display]="zoom ? 'none' : 'inline-flex'" -->
            <div class="" id="image_scene" 
                style="background-color: rgb(206 212 218);
                position: absolute;left:5px;right:160px ;top:0%;bottom:1%;">
                 <!-- this is the draggable root -->
                <svg  class="box_shadow" style="position:absolute;width:100%;height:100%;left:0%;background-color:transparent">
                

                    <image width="100%" height="100%" id="scene" transform="matrix(1 0 0 1 0 0)" 
                    [attr.xlink:href]="image_view" />
                    
                </svg>
                <svg class="zoomInIcon button_hover" width="150" height="150" 
                
                    transform="scale(0.25)" 
                    fill-rule='evenodd' clip-rule="evenodd" 
                    xmlns="http://www.w3.org/2000/svg" (click)="onClickHome()">

                    <g >
                        <g id="svg_1">
                            <path id="svg_2" d="m61.44,0c33.93,0 61.44,27.51 61.44,61.44c0,33.93 -27.51,61.44 -61.44,61.44c-33.93,0 -61.44,-27.51 -61.44,-61.44c0,-33.93 27.51,-61.44 61.44,-61.44l0,0zm0,29l-31.38,30.74l7.65,4.02l23.52,-24.69l23.92,24.7l7.66,-4.02l-31.37,-30.75l0,0l0,0zm-22.05,38.13l0,0l22.08,-22.09l22.02,22.09l0,0l0,0l0,21.67l-16.09,0l0,-15.3l-12.06,0l0,15.3l-15.95,0l0,-21.67l0,0l0,0l0,0zm22.05,-58.04c28.91,0 52.35,23.44 52.35,52.35c0,28.91 -23.44,52.35 -52.35,52.35s-52.35,-23.44 -52.35,-52.35c0,-28.91 23.44,-52.35 52.35,-52.35l0,0z" 
                            class="" fill="#023367"/>
                        </g>
                        <path stroke="#FF0000" transform="rotate(45.13833236694336 124.08902740478514,123.99531555175781) " 
                        id="svg_3" d="m94.856865,115.871761l58.464331,0l0,16.247101l-58.464331,0l0,-16.247101z" 
                        stroke-width="0.001" fill="#023367"/>
                    </g>
                </svg>
            </div>
                
            
                <!-- <div *ngIf = "zoom" class="zoom">
                    <img src={{image_view}} alt="" id={{i}} class="ZoomImage img-responsive" 
                        style="display: inline-block;position: relative;">
                    <span aria-hidden="true" class="zoomCloseIcon" 
                        id={{i}} (click) = "onZoomOut(i,$event)" style="cursor: pointer;">×</span>
                </div> -->
            
            
            
            <!-- list img ; -->
            <div
                 style="height:100% ;width:150px;position: absolute;top: 0%;left: calc(100% - 150px);
            right:0%;bottom: 0%;">
                <div class="card2 mozilla_scroll" id="image1">
                    <div *ngFor="let item of base64textString;let i = index" style="display: inline-block;position: relative;">
                        <img class="scanImage" id={{i}} src={{item}} alt="" (click)="onClick($event)">

                        <!-- <svg *ngIf="(i!=0) && !downArrow" id={{i}} xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle-fill up_arrow" viewBox="0 0 16 16" (click) = "onUpImage($event)">
                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg> -->
                        <svg *ngIf="(i!=0) && !downArrow" id={{i}} xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-square up_arrow" viewBox="0 0 16 16" (click)="onUpImage($event)">
                            <path id={{i}} fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                        <svg *ngIf="(i!=base64textString.length-1) && !upArrow" id={{i}} xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-square down_arrow" viewBox="0 0 16 16" (click)="onDownImage($event)">
                            <path id={{i}} fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                        </svg>
                        <!-- <svg *ngIf="(i!=base64textString.length-1) && !upArrow" id={{i}} xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle-fill down_arrow" viewBox="0 0 16 16" (click) ="onDownImage($event)">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                          </svg> -->
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" class="closeIcon" id= {{i}} (click)="removeSelectedFile(i,$event)" *ngIf = "closeIcon">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Show list of images -->
        <!-- <div class="col-md-2 col-lg-2  col-xs-12 smallScanCard" style="margin-top: -16px;">
            
        </div> -->
    
        <!-- Right block  top 10px -->
        <div style="width:calc(50% - 10px);height:100%;position:absolute;left:50%;
                    top:0px;right:0%;bottom:1%;">
            <!-- Counters -->
            <div style="overflow:hidden;width:100%;height:50px;position:absolute;
                        left:10px;top:0px;right:0%;" 
                class="d-flex">
                <div style="white-space: nowrap;width:50%;height:50px;
                        position:absolute;left:5%;">
                    <pre >Operations Succeeded  <button class="btn btn-primary1" disabled>{{successCount}}</button></pre>
                </div>
                <div style="white-space: nowrap;width:50%;height:50px;position:absolute;
                        left:50%;top:0px;">
                    <pre >Operations Failed  <button class="btn btn-primary1" disabled>{{failedCount}}</button></pre>
                </div>
            </div>
            <!-- Report type dropdown and displaying result -->
            <div style="width:100%;height:50px;position:absolute;left:10px;top:50px;right:0%;" 
                class="d-flex">
                <form [formGroup]="form" (submit)="onSubmit()" class="">
                    <button for="" disabled  class="btn btn-outline-primary"
                        style="white-space: nowrap;border-color: white;color:black;opacity: 0.88;
                        position: absolute;width:20%;left:0%;right:80%">Select Report
                    </button>
                    <select formControlName="select" style="position: absolute;width:40%;left:20%;right: 40%;"
                     class="form-select" id="dropdown" 
                            (change)="selectId($event)"> 
                            <!-- Select_document_disabled  replace with false-->
                        <option [disabled]='Select_document_disabled' [hidden]="Select_document_disabled"
                                 [selected]="!Select_document_disabled" value="Select Document" id="default_report_type">Select Document</option>                        
                        <option *ngFor="let listOfDocument of listOfDocuments" value={{listOfDocument}} >{{listOfDocument}}</option>
                    </select>
                    <button style="position: absolute;vertical-align: inherit;width:25%;left:calc(60% + 5px);right:15%;" *ngIf="!uploadButton" class="btn btn-primary" 
                        [disabled]='disabledupload || uploadByteLimit' 
                        type="submit" >Upload
                    </button>
                    <button style="white-space: nowrap;position: absolute;vertical-align: inherit;
                        width:25%;left:calc(60% + 5px);right: 15%;" *ngIf="responseButton" class="btn btn-primary" 
                        type="button" nbButton status="primary">    
                        <span style="font-size: 8;">{{seconds}}s Estimated time</span>
                    </button>
                    <!-- <div class="form-inline" style="margin-left: 144px;">
                        <input type="text" class="form-control" placeholder="Enter Report ID" 
                        *ngIf="newDocumentInput" (change)="onChangeReport($event)">
                    </div> -->
                </form>
            </div>
            <div style="overflow-y: scroll;width:100%;height:60px;position:absolute;left:5%;top:90px;right:10%;">
                <div *ngIf="successAlert" 
                    class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        Data stored Successfully!!!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="uploadByteLimit" class="alert alert-danger alert-dismissible fade show" 
                        role="alert" style="margin-top: 10px;">
                        <strong>Warning:</strong> Maximum files allowed per report is approx. 7-8 files.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        <strong>Error!</strong> Please try again...
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center">
                    <div *ngIf='isLoading' class="spinner-border text-success text-center inline-block" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Server can't respond please contact your Admin.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="f.select.touched && f.select.invalid" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Report type is required.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- di = {"uploadFileAlert":[" Please select file to upload",False],
                        "" }
                        di["uploadFileAlert"][1]
                di[key][1]===True
                di_status=True -->
                <div *ngIf="uploadFileAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please select file(s) to upload.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- TODO: fix alignment along with loading/spinner icon. -->
                <!-- <div *ngIf="(seconds<=0) && waitForResponse" class="alert alert-danger alert-dismissible fade show" role="alert">
                    It's taking longer than expected.Please wait...
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div *ngIf="DropdownId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please select a valid report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="verifyDocumentId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please verify the report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="invalidDocumentId" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Invalid report type.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="unKnownError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    An unexpected error occurred. Contact your system administrator.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!-- Results division -->
            <div style="width:95%;height:100%;position:absolute;left:10px;top:150px;right:1%;"
            class="scrollit" id="result">
                <div class="table-wrapper mozilla_scroll" *ngIf="tableShow">
                    <table class="table tableScroll" style="overflow-y: auto;">
                        <tbody style="overflow-y: auto;" >
                            <tr>
                                <th class="w-25"></th>
                                <td class="w-65"></td>
                                <th class="w-10" style="text-align: center;">C (%)</th>
                            </tr>
                            <tr *ngFor="let item of result_others | keyvalue">

                                <th style="vertical-align: middle;">{{item.key.split('_').join(' ') | titlecase}}</th>
                                <td style="vertical-align: middle;" [ngClass]="{
                                        'above85':item.value[1] >=85,
                                        'above70':item.value[1] >=70 &&  item.value[1]<85,
                                        'above50':item.value[1] >=50 && item.value[1] <70,
                                        'above30':item.value[1] >=30 && item.value[1] <50,
                                        'below30':item.value[1] >0 && item.value[1] <30,
                                        'zero':item.value[1] === 0
                                    }"><input type="text" value={{item.value[0]}} id={{item.key}} class="form-control" (change)="onchangeInput_others($event)">
                                </td>

                                <td class=" text-center" style="vertical-align: middle;">
                                    {{item.value[1]}}
                                </td>

                            </tr>

                            <tr *ngIf="result_date_show">
                                <th style="vertical-align: middle;">Report Date</th>
                                <td [ngClass]="{
                                    'above85':result_date[1] >=85,
                                    'above70':result_date[1] >=70 &&  result_date[1]<85,
                                    'above50':result_date[1] >=50 && result_date[1] <70,
                                    'above30':result_date[1] >=30 && result_date[1] <50,
                                    'below30':result_date[1] >0 && result_date[1] <30,
                                    'zero':result_date[1] === 0
                                   }" style="vertical-align: middle;">
                                    <input value={{result_date[0]}} id='Date' class="form-control" type='date' placeholder="" (change)="onchangeInput_date($event)">
                                </td>

                                <td class=" text-center" style="vertical-align: middle;">
                                    {{result_date[1]}}
                                </td>

                            </tr>
                            <tr *ngIf="result_imp_show">
                                <th>Impression</th>
                                <td [ngClass]="{
                                    'above85':result_imp[1] >=85,
                                    'above70':result_imp[1] >=70 &&  result_imp[1]<85,
                                    'above50':result_imp[1] >=50 && result_imp[1] <70,
                                    'above30':result_imp[1] >=30 && result_imp[1] <50,
                                    'below30':result_imp[1] >0 && result_imp[1] <30,
                                    'zero':result_imp[1] === 0
                                   }">
                                    <textarea value={{result_imp[0]}} id='Impression' class="form-control impression" type="text" (change)="onchangeInput_imp($event)">
                                </textarea>
                                </td>

                                <td class=" text-center">
                                    {{result_imp[1]}}
                                </td>
                            </tr>
                    </table>
                    <br>
                    <table *ngIf="result_testreport_show" class="table table-borderless">
                        <tbody>
                            <tr class="d-flex border_bottom border_top">
                                <th class="col-1" style="text-align: center;">S.No</th>
                                <th class="col-4" style="text-align: center;">Test</th>
                                <th class="col-3" style="text-align: center;">Result</th>
                                <th class="col-3" style="text-align: center;">Units</th>
                                <th class="col-1" style="text-align: center;">C(%)</th>
                            </tr>
                            <div *ngFor="let item of result_testreport | keyvalue">
                                <tr class="d-flex border_bottom" style="padding: 0%;">
                                    <th class="col-1"></th>
                                    <th class="col-5">
                                        {{item.key.split('_').join(' ') | titlecase }}
                                    </th>
                                    <th class="col-2"></th>
                                    <th class="col-3"></th>
                                    <th class="col-1"></th>
                                </tr>
                                <tr *ngFor="let report of item.value;let i = index" class="d-flex border_bottom" style="padding: 0%;">
                                    <td class="col-1" style="padding: 12px;">{{i+1}}</td>
                                    <td [ngClass]="{
                                                'above85':report[2] >=85,
                                                'above70':report[2] >=70 &&  report[2]<85,
                                                'above50':report[2] >=50 && report[2] <70,
                                                'above30':report[2] >=30 && report[2] <50,
                                                'below30':report[2] >0 && report[2] <30,
                                                'zero':report[2] === 0
                                            }" class="col-4">
                                        <input type="text" value={{report[1][0]}} row={{i}} key={{item.key}} class="form-control" (change)="onchangeInput_0($event)">
                                    </td>
                                    <td [ngClass]="{
                                                'above85':report[2] >=85,
                                                'above70':report[2] >=70 &&  report[2]<85,
                                                'above50':report[2] >=50 && report[2] <70,
                                                'above30':report[2] >=30 && report[2] <50,
                                                'below30':report[2] >0 && report[2] <30,
                                                'zero':report[2] === 0
                                            }" class="col-3">
                                        <input type="text" value={{report[1][1]}} row={{i}} key={{item.key}} class="form-control" (change)="onchangeInput_1($event)">
                                    </td>
                                    <td [ngClass]="{
                                            'above85':report[2] >=85,
                                            'above70':report[2] >=70 &&  report[2]<85,
                                            'above50':report[2] >=50 && report[2] <70,
                                            'above30':report[2] >=30 && report[2] <50,
                                            'below30':report[2] >0 && report[2] <30,
                                            'zero':report[2] === 0
                                        }" class="col-3">
                                        <input type="text" row={{i}} key={{item.key}} value={{report[1][2]}} class="form-control" (change)="onchangeInput_2($event)">
                                    </td>
                                    <td class="col-1" style="padding: 12px;">{{report[2]}}</td>
                                </tr>
                                <button class="btn btn-primary" style="background-color: #007bff;margin: 5px;border-color: white;" id={{item.key}} (click)="onCreateInput($event)">Add</button>
                                <mat-divider></mat-divider>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="white-space: nowrap;width:100%;height:40px;
                position:absolute;left:50%;bottom:0px;right:0%;" 
                class="d-flex">
                <div style="width:15%;position: fixed;left:60%;" >
                    <button 
                    style="width:100%;"
                    class="btn btn-primary" type="submit" data-toggle="modal" 
                    data-target="#myModal" [disabled]="!markForReview || !tableShow">Mark for Review</button>
                </div>
                <div style="width:15%;position: fixed;left:75%;">
                    <button
                    style="width:100%;" class="btn btn-primary" type="submit" 
                    data-toggle="modal" data-target="#myModal1" 
                    
                    [disabled]="!getResult || !tableShow">Update Database</button>
                </div>
            </div>
            
        </div>
    
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" #closebutton id="closeModal" (click)="onSubmitImage()">Yes</button>
                    <button type="button" #closebutton class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton1 class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" #closebutton1 id="closeModal" (click)="onSubmitText()">Yes</button>
                    <button type="button" #closebutton1 class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #closebutton2 class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body reset_modal_body">
                    <p>Are you sure you want to proceed?</p>
                    <button type="button" style="margin-left: 128px;margin-right: 10px;" class="btn btn-primary" #closebutton2 id="closeModal" (click)="onEdit()">Partial Reset</button>
                    <button type="button" style="border: white;" class="btn btn-danger" #closebutton2 id="closeModal" (click)="onReset()">Reset</button>
                </div>
                <div class="modal-footer footer">
                    <p><b>Note:</b>&nbsp;&nbsp;&nbsp;</p><br>
                    <p><b style="color: #007bff;">Partial Reset : </b>This will delete everything <b>except images.</b></p>
                    <p><b style="color: #dc3545;">Reset : </b>This will delete everything.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>